[Desktop Entry]
Name=Optimus Manager
Name[zh_CN]=Optimus 管理器
Comment=A program to handle GPU switching on Optimus laptops
Comment[ru]=Программа для управления переключением графических процессоров на ноутбуках c Optimus
Comment[zh_CN]=处理双显卡笔记本电脑 GPU 切换的程序
Keywords=nvidia;optimus;settings;switch;GPU;
Keywords[ru]=nvidia;optimus;settings;switch;GPU;настройки;видеокарта;
Exec=optimus-manager-qt
Icon=optimus-manager-qt
Terminal=false
StartupNotify=false
Type=Application
Categories=System;Settings;Qt;
